body {
    font-family: Arial, sans-serif;
    background-image: url("https://www.shutterstock.com/image-illustration/fractal-pretty-background-cool-design-260nw-2342452867.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    color: #333;
}

#login-container {
    background-image: url("https://i.pinimg.com/564x/01/e6/87/01e68761abce82799c76ea84005623f8.jpg");
    background-size: cover;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

#login-container button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#todo-container {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRr0zgiN2K_ds3Wa9jW7JfRPoucy9AQ-Dm2iQ&s");
    background-size: cover;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

#task-input, #reminder-input {
    width: 35%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
}

#add-task-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#add-task-btn:hover {
    background-color: #218838;
}

#task-list {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 4px;
    border-left: 5px solid #28a745;
}

.task-item.completed {
    text-decoration: line-through;
    background-color: #d4edda;
    border-left-color: #218838;
}

.task-content {
    display: flex;
    align-items: center;
}

.task-content input[type="checkbox"] {
    margin-right: 10px;
}

.task-item button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #dc3545;
    font-size: 18px;
}

.task-item button:hover {
    color: #c82333;
}
